
.userProfileWrap {
  padding-top: 6px;

  .rightBtnWrap {
    text-align: right;

    :global {
      .ant-btn {
        margin-left: 10px;
      }
    }
  }

  .actionBtn {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
  }

  .contentWrap {
    margin-top: 24px;
  }
}
